body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p,
span,
button,
h1,
h2,
h3,
h4,
h5,
h6,
legend,
input,
select,
option {
  font-family: "Poppins", sans-serif;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
