:root {
  --primary        : #1976d2;
  --secondary      : #26a69a;
  --accent         : #ff4081;
  --error          : #f44336;
  --warning        : #ff9800;
  --info           : #2196f3;
  --success        : #4caf50;
  --white          : #ffffff;
  --black          : #000000;
  --grey           : #9e9e9e;
  --light-grey     : #eeeeee;
  --dark-grey      : #616161;
  --light-black    : #212121;
  --dark-blue      : #0d1535;
  --darker-blue    : #152238;
  --soft-blue      : #f4f8fc;
  --soft-grey      : #ebebeb;
}

$red: #ff0000;
